// NIRI CONFIG FILE


include "env.kdl"

include "themes.kdl"

include "autostart.kdl"

include "output.kdl"

include "rules.kdl"

include "basicsettings.kdl"

include "keybinds.kdl"

include "basicsettings.kdl" // Added by niri-settings

include "keybinds.kdl" // Added by niri-settings
