spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
spawn-at-startup "swaybg"
spawn-at-startup "swayidle"
spawn-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "nm-applet --indicator"
spawn-at-startup "dbus-update-activation-environment --systemd --all"
spawn-at-startup "kded6"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "anup" "daemon"
