/* Configurações Globais - Reset */
* {
    border: none;
    border-radius: 0;
    font-family: "Symbols Nerd Font, Google Sans Flex", "Cascadia Code NF", "Sans Serif";
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* Base da Barra (Transparente para o efeito Island) */
window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Container dos Módulos */
.modules-left, .modules-center, .modules-right {
    background-color: rgba(18, 18, 18, 0.85); /* Material Black com transparência */
    border: 1px solid rgba(67, 67, 67, 0.7);
    padding: 2px 10px;
    border-radius: 12px;
}

/* Ajustes para o Sway e Workspaces */
#workspaces button {
padding: 0 5px;
background-color: #434343;
color: #ffffff;
border-radius: 100px;
transition: all 0.3s ease-in-out;
margin: 2px 2px;
min-width: 10px;
}

#workspaces button.focused,
#workspaces button.active {
background-color: #e8ead1; /* Tom de branco gelo/monocromático */
color: #121212;
min-width: 30px; /* Efeito de pílula expandida */
}

#workspaces button.urgent {
background-color: #eb4d4b;
color: #ffffff;
}

/* Módulos Individuais */
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#tray,
#backlight
#memory,
#temperature,
#cliphist,
#power-profiles-daemon,
#idle_inhibitor,
#power,
#notification,
#memory {
padding: 0 4px;
margin: 2px 4px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.1); /* Efeito de vidro sutil */
color: #ffffff;
}

/* Relógio em Destaque (Centro) */
#clock {
font-size: 13px;
font-weight: 800;
background-color: transparent;
}

/* Estilo Monocromático para Bateria e Som */
#battery.charging, #battery.plugged {
color: #ffffff;
}

/* Se quiser o efeito de pílula sólida para os ícones como no vídeo: */
#pulseaudio, #network, #battery, #tray, #backlight, #cpu, #memory, #temperature, #power-profiles-daemon, #idle_inhibitor {
background-color: transparent; /* Cinza escuro sólido para contraste */
color: #ffffff;
}

/* Tooltip */
tooltip {
    background: rgba(18, 18, 18, 0.9);
    border: 1px solid rgba(67, 67, 67, 0.7);
    border-radius: 8px;
}
