* {
	background-image: none;
}

window {
	background-color: rgba(100, 100, 100, 0.0);
}

button {
	margin: 10px;
	padding: 0;
    color: #d3d3d3;
	font-size: 2rem;
	background-color: rgba(25, 25, 25, 0.9);
	outline-style: none;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	border-radius: 100px;
	box-shadow: none;
	text-shadow: none;
    	animation: gradient_f 20s ease-in infinite;
}


button:focus, button:active, button:hover {
	background-color: #d3d3d3;
	-color: #0f0f0f;
	outline-style: none;
	background-size: 25%;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#locak, #logout, #suspend, #hibernate, #shutdown, #reboot {
    opacity: 0.9;
}

#lock {
    background-image: image(url("/usr/share/wlogout/assets/lock.svg"), url("/usr/local/share/wlogout/assets/lock.svg"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"), url("/usr/local/share/wlogout/assets/logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/assets/suspend.svg"), url("/usr/local/share/wlogout/assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/assets/hibernate.svg"), url("/usr/local/share/wlogout/assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"), url("/usr/local/share/wlogout/assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"), url("/usr/local/share/wlogout/assets/reboot.svg"));
}
